.container{
    margin-top: 60px;
}
.card{
    height: 300px;
    width: 500px;
    padding:10px;
}
.btn-primary{
    width: 300px;
    margin-top: 20px;
    margin-left: 100px;
}
span{
    color: red;
    font-size: 12px;
}