<div class="container">



    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <a href="" class="float-right btn btn-outline-primary mt-1" routerLink="/login">Log in</a>
                    <h4 class="card-title mt-2">Sign up</h4>
                </header>
                <article class="card-body">
                    <form #registrationForm="ngForm">
                        <div class="form-row">
                            <div class="col form-group">
                                <label> name </label><span *ngIf='name.touched && name.invalid'>This field is
                                    required</span>
                                <input type="text" class="form-control" placeholder="" #name='ngModel' name="name"
                                    required [(ngModel)]="signupObj.name">
                            </div>

                        </div> <!-- form-row end.// -->
                        <div class="form-group  ">
                            <label>Email address</label>
                            <span *ngIf='emailid.touched && emailid.invalid'>This field is required</span>
                            <span *ngIf="emailid.errors?.email">
                                && Primary Email not valid.
                            </span>
                            <input type="email" class="form-control" email #emailid='ngModel' placeholder=""
                                name="emailid" [(ngModel)]="signupObj.emailid" required>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label class="form-check form-check-inline">

                                    <input class="form-check-input" type="radio" id="1" name="gender" value="male"
                                        [(ngModel)]="signupObj.gender" required #selectedBy="ngModel">

                                    <div class="form-check-label"> Male </div>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="2" name="gender" value="Female"
                                        [(ngModel)]="signupObj.gender" required>
                                    <div class="form-check-label"> Female</div>
                                </label>
                                <span *ngIf="selectedBy.errors?.required">this field is required</span>
                            </div>
                            <div class="form-group col-md-6 ">
                                <label>Designation</label> <span *ngIf='desinstion.touched && desinstion.invalid'>
                                    required
                                </span>
                                <br>
                                <select class="desinstion" id="desinstion" #desinstion="ngModel" required
                                    name="desinstion" [(ngModel)]="signupObj.desinstion">
                                    <option *ngFor='let role of roleslist' value="{{role.id}}">{{role.rolename}}
                                    </option>

                                </select>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>mobile number</label>
                                <span *ngIf='mobile.touched && mobile.invalid'>required</span>
                                <span *ngIf='mobile.dirty && mobile.errors?.pattern'> not valid number</span>
                                <input class="form-control" type="password" name='mobile' [(ngModel)]="signupObj.mobile"
                                    pattern="[1-9]{1}[0-9]{9}" required #mobile='ngModel'>
                            </div>

                            <div class="form-group">
                                <label>password</label>
                                <input class="form-control" type="password" name="password"
                                    [(ngModel)]="signupObj.password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    required #password='ngModel'>
                                <span *ngIf='password.touched && password.invalid'>required</span>
                                <span *ngIf='password.dirty && password.errors?.pattern'> not valid number and Must
                                    contain at least one number and one uppercase and lowercase letter, and at least 8
                                    or more characters</span>

                            </div>

                        </div>
                        <div class="form-row">
                        </div>
                        <div class="form-group">
                            <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary btn-block"
                                (click)="Register()"> Register
                            </button>
                        </div>
                    </form>
                </article>
                <div class="border-top card-body text-center">Have an account? <a routerLink="/login">Log In</a></div>
            </div>
        </div>

    </div>


</div>